@import 'variables';

body {
  background: $black-color;
}

p {
  margin-bottom: 0;
}

.course-item {
  height: 50px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.course-index {
  text-decoration: none;
  color: $black-color;
}
.course-title {
  text-decoration: none;
  color: $black-color;
}
.course-btn {
  text-decoration: none;
  margin-left: 20px;

  &.delete {
    color: $red-color
  }

  &:hover {
    opacity: 0.5;
    text-decoration: underline;
  }
}