<div class='d-flex flex-column' style='background-color: white; min-height: 100vh'>
  <p>{{course.title}}</p>
  <span class='mb-4'>{{course.description}}</span>
  <img
    style='
    height: 200px;'
    src={{course.image}}
    alt='Girl in a jacket'
    width='200'
    height='200'
  />

</div>