{{#each courses}}
  <ul class='list-group mb-4'>
    <li class='list-group-item d-flex flex-column course-item'>
      <a href='/courses/{{this.slug}}' class='list-group-item d-flex flex-column course-item'>
        <div class='d-flex'>
          <p class='ms-2'>{{this.title}}</p>
        </div>
      </a>
    </li>
  </ul>
{{/each}}